In [ ]:
import pandas as pd

In [ ]:
import pandas as pd
df = pd.read_csv("service.csv")

In [ ]:
df

In [ ]:
df.head()

In [ ]:
df.tail(3)

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
df.columns

Index(['ID', 'Service Domain Name', 'User Forum Name', 'User Forum Rating',
       'User Forum Registration', 'Type of Service Offered',
       'Types of Advertisement', 'Service Overall Maturity Level',
       'Type of User Advertising', 'Service Label',
       'searchengines.guru Category', 'searchengines.guru Sub Category',
       'Country of Legal Terms', 'Domain Registration', 'Domain Registrar',
       'Site ASN', 'Site ISP', 'Site Hosting Country', 'Site Alexa Ranking',
       'Web Reputation: Cisco Umbrella Security Score',
       'Web Reputation: BrightCloud® TI Risk',
       'Web Reputation: Suspicious Activity from VirusTotal Intelligence Indicators',
       'Web Reputation: OSINT Reports on Suspicious Behavior',
       'Trustworthiness Label #1', 'Trustworthiness Label #2',
       'Trustworthiness Label #3', 'Trustworthiness Label #4'],
      dtype='object')

In [ ]:
df[['User Forum Name','Types of Advertisement']]

     User Forum Name Types of Advertisement
0              3snet          On org behalf
1             Shopse          On org behalf
2      Lucky Online           On org behalf
3          Adtrafico          On org behalf
4              ADxAD          On org behalf
5              ADxAD          On org behalf
6          dexter007          On org behalf
7           teamPays          On org behalf
8          slimspots          On org behalf
9           onlybest          On org behalf
10     CityAds Media          On org behalf
11    DigitalCaramel          On org behalf
12          IPSERVER          On org behalf
13        IS Andrew           On org behalf
14         pavellift          On org behalf
15            pinspb          On org behalf
16   hosting_manager          On org behalf
17          MaksimVS          On org behalf
18         porutchik          On org behalf
19        PerfectVPS          On org behalf
20          React Su          On org behalf
21        AdMediator          On org behalf
22     Sergey Vlasov          On org behalf
23         CMS Music          On org behalf
24          Seo-Seo           On org behalf
25          ProxyAwm          On org behalf
26            ALTVPN          On org behalf
27           St.One           On org behalf
28             Nosok          On org behalf
29            smmbox          On org behalf
30            Harius         On prod behalf
31          mainlink          On org behalf
32    WebSupportRevo          On org behalf
33  Lenar Fatkhullin          On org behalf
34           Mixan41          On org behalf
35       ePayService          On org behalf
36         ePayments          On org behalf
37            DaoDog          On org behalf
38       incident404          On org behalf
39           Propush          On org behalf
40          Richpush          On org behalf
41           rexpush          On org behalf
42         _Serious_          On org behalf
43          Realpush          On org behalf
44        viktorname          On org behalf
45         Annav1990          On org behalf
46        BestChange          On org behalf
47        BESTKURS24          On org behalf
48    BissonExchange          On org behalf
49      PAY2DAY.TOP           On org behalf

In [ ]:
df.dtypes

ID                                                                              int64
Service Domain Name                                                            object
User Forum Name                                                                object
User Forum Rating                                                               int64
User Forum Registration                                                        object
Type of Service Offered                                                        object
Types of Advertisement                                                         object
Service Overall Maturity Level                                                 object
Type of User Advertising                                                       object
Service Label                                                                  object
searchengines.guru Category                                                    object
searchengines.guru Sub Category                                                object
Country of Legal Terms                                                         object
Domain Registration                                                             int64
Domain Registrar                                                               object
Site ASN                                                                       object
Site ISP                                                                       object
Site Hosting Country                                                           object
Site Alexa Ranking                                                             object
Web Reputation: Cisco Umbrella Security Score                                  object
Web Reputation: BrightCloud® TI Risk                                           object
Web Reputation: Suspicious Activity from VirusTotal Intelligence Indicators    object
Web Reputation: OSINT Reports on Suspicious Behavior                           object
Trustworthiness Label #1                                                       object
Trustworthiness Label #2                                                       object
Trustworthiness Label #3                                                       object
Trustworthiness Label #4                                                       object
dtype: object

In [ ]:
df2 = pd.read_csv("https://gist.githubusercontent.com/curran/a08a1080b88344b0c8a7/raw/0e7a9b0a5d22642a06d3d5b9bcbad9890c8ee534/iris.csv")

NameError: name 'pd' is not defined

In [ ]:
df2.head(2)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa

In [ ]:
len(df2)

150

KeyError: 1

In [ ]:
df3 = pd.read_csv("service.csv", index_col=False)

FileNotFoundError: [Errno 2] No such file or directory: 'service.csv'

In [ ]:
tt = pd.read_csv("Titanic.csv")

In [ ]:
type(tt)

pandas.core.frame.DataFrame

In [ ]:
df.dtypes

ID                                                                              int64
Service Domain Name                                                            object
User Forum Name                                                                object
User Forum Rating                                                               int64
User Forum Registration                                                        object
Type of Service Offered                                                        object
Types of Advertisement                                                         object
Service Overall Maturity Level                                                 object
Type of User Advertising                                                       object
Service Label                                                                  object
searchengines.guru Category                                                    object
searchengines.guru Sub Category                                                object
Country of Legal Terms                                                         object
Domain Registration                                                             int64
Domain Registrar                                                               object
Site ASN                                                                       object
Site ISP                                                                       object
Site Hosting Country                                                           object
Site Alexa Ranking                                                             object
Web Reputation: Cisco Umbrella Security Score                                  object
Web Reputation: BrightCloud® TI Risk                                           object
Web Reputation: Suspicious Activity from VirusTotal Intelligence Indicators    object
Web Reputation: OSINT Reports on Suspicious Behavior                           object
Trustworthiness Label #1                                                       object
Trustworthiness Label #2                                                       object
Trustworthiness Label #3                                                       object
Trustworthiness Label #4                                                       object
dtype: object

In [ ]:
tt.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [ ]:
tt.dtypes == 'object'

PassengerId    False
Survived       False
Pclass         False
Name            True
Sex             True
Age            False
SibSp          False
Parch          False
Ticket          True
Fare           False
Cabin           True
Embarked        True
dtype: bool

In [ ]:
tt[tt.dtypes[tt.dtypes == 'object'].index]

,Name,Sex,Ticket,Cabin,Embarked
0,"Braund, Mr. Owen Harris",male,A/5 21171,NaN,S
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,PC 17599,C85,C
2,"Heikkinen, Miss. Laina",female,STON/O2. 3101282,NaN,S
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,113803,C123,S
4,"Allen, Mr. William Henry",male,373450,NaN,S
...,...,...,...,...,...
886,"Montvila, Rev. Juozas",male,211536,NaN,S
887,"Graham, Miss. Margaret Edith",female,112053,B42,S
888,"Johnston, Miss. Catherine Helen ""Carrie""",female,W./C. 6607,NaN,S
889,"Behr, Mr. Karl Howell",male,111369,C148,C
890,"Dooley, Mr. Patrick",male,370376,NaN,Q

In [ ]:
tt.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [ ]:
tt["Ticket"][3:11] # slicing

3      113803
4      373450
5      330877
6       17463
7      349909
8      347742
9      237736
10    PP 9549
Name: Ticket, dtype: object

In [ ]:
tt["new_col"] = 0

In [ ]:
tt

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
tt["new_col"] = tt["PassengerId"] + tt["Pclass"]

In [ ]:
tt['new_col']

0        4
1        3
2        6
3        5
4        8
      ...
886    889
887    889
888    892
889    891
890    894
Name: new_col, Length: 891, dtype: int64

In [ ]:
a = pd.Categorical(tt['Pclass'])

In [ ]:
a

[3, 1, 3, 1, 3, ..., 2, 1, 3, 1, 3]
Length: 891
Categories (3, int64): [1, 2, 3]

In [ ]:
b = tt["Cabin"].unique()

In [ ]:
b

array([nan, 'C85', 'C123', 'E46', 'G6', 'C103', 'D56', 'A6',
       'C23 C25 C27', 'B78', 'D33', 'B30', 'C52', 'B28', 'C83', 'F33',
       'F G73', 'E31', 'A5', 'D10 D12', 'D26', 'C110', 'B58 B60', 'E101',
       'F E69', 'D47', 'B86', 'F2', 'C2', 'E33', 'B19', 'A7', 'C49', 'F4',
       'A32', 'B4', 'B80', 'A31', 'D36', 'D15', 'C93', 'C78', 'D35',
       'C87', 'B77', 'E67', 'B94', 'C125', 'C99', 'C118', 'D7', 'A19',
       'B49', 'D', 'C22 C26', 'C106', 'C65', 'E36', 'C54',
       'B57 B59 B63 B66', 'C7', 'E34', 'C32', 'B18', 'C124', 'C91', 'E40',
       'T', 'C128', 'D37', 'B35', 'E50', 'C82', 'B96 B98', 'E10', 'E44',
       'A34', 'C104', 'C111', 'C92', 'E38', 'D21', 'E12', 'E63', 'A14',
       'B37', 'C30', 'D20', 'B79', 'E25', 'D46', 'B73', 'C95', 'B38',
       'B39', 'B22', 'C86', 'C70', 'A16', 'C101', 'C68', 'A10', 'E68',
       'B41', 'A20', 'D19', 'D50', 'D9', 'A23', 'B50', 'A26', 'D48',
       'E58', 'C126', 'B71', 'B51 B53 B55', 'D49', 'B5', 'B20', 'F G63',
       'C62 C64', 'E24', 'C90', 'C45', 'E8', 'B101', 'D45', 'C46', 'D30',
       'E121', 'D11', 'E77', 'F38', 'B3', 'D6', 'B82 B84', 'D17', 'A36',
       'B102', 'B69', 'E49', 'C47', 'D28', 'E17', 'A24', 'C50', 'B42',
       'C148'], dtype=object)

In [ ]:
tt

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
tt[tt["Age"]>18]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
len(tt[tt["Age"]>18])

575

In [ ]:
tt[tt["Fare"]>32]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
...,...,...,...,...,...,...,...,...,...,...,...,...
856,857,1,1,"Wick, Mrs. George Dennick (Mary Hitchcock)",female,45.0,1,1,36928,164.8667,NaN,S
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C

In [ ]:
len(tt[tt["Fare"]>32])

211

In [ ]:
tt[tt["Fare"]==0]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
179,180,0,3,"Leonard, Mr. Lionel",male,36.0,0,0,LINE,0.0,NaN,S
263,264,0,1,"Harrison, Mr. William",male,40.0,0,0,112059,0.0,B94,S
271,272,1,3,"Tornquist, Mr. William Henry",male,25.0,0,0,LINE,0.0,NaN,S
277,278,0,2,"Parkes, Mr. Francis ""Frank""",male,NaN,0,0,239853,0.0,NaN,S
302,303,0,3,"Johnson, Mr. William Cahoone Jr",male,19.0,0,0,LINE,0.0,NaN,S
413,414,0,2,"Cunningham, Mr. Alfred Fleming",male,NaN,0,0,239853,0.0,NaN,S
466,467,0,2,"Campbell, Mr. William",male,NaN,0,0,239853,0.0,NaN,S
481,482,0,2,"Frost, Mr. Anthony Wood ""Archie""",male,NaN,0,0,239854,0.0,NaN,S
597,598,0,3,"Johnson, Mr. Alfred",male,49.0,0,0,LINE,0.0,NaN,S
633,634,0,1,"Parr, Mr. William Henry Marsh",male,NaN,0,0,112052,0.0,NaN,S
674,675,0,2,"Watson, Mr. Ennis Hastings",male,NaN,0,0,239856,0.0,NaN,S
732,733,0,2,"Knight, Mr. Robert J",male,NaN,0,0,239855,0.0,NaN,S
806,807,0,1,"Andrews, Mr. Thomas Jr",male,39.0,0,0,112050,0.0,A36,S
815,816,0,1,"Fry, Mr. Richard",male,NaN,0,0,112058,0.0,B102,S
822,823,0,1,"Reuchlin, Jonkheer. John George",male,38.0,0,0,19972,0.0,NaN,S

In [ ]:
len(tt[tt["Fare"]==0])

15

In [ ]:
tt.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
pd.Categorical(tt["Sex"])

['male', 'female', 'female', 'female', 'male', ..., 'male', 'female', 'female', 'male', 'male']
Length: 891
Categories (2, object): ['female', 'male']

In [ ]:
tt.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [ ]:
tt[tt["Sex"]=="female"] and ('Fare'>32.204208)]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().